body {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: White;
}

h2 {
  font-size: 21px;
  color: Gray;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  color: Aquamarine;
}

video {
  object-fit: contain;
  vertical-align: center;
}

#yourguide {
  font-weight: 300;
  font-size: 42px;
}
